@import "vars";
@import "mixin";

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: $font-normal;
  color: $font-color;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
#header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 100px;
}

#main {
}
#contents {
  padding: 100px 0;
  width: 1200px;
  margin: auto;
  .title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
  }
}

.formBox {
  .inputBox {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    label {
      display: flex;
      align-items: center;
      .label {
        width: 150px;
      }
      input[type="text"],
      input[type="password"],
      select {
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
      }
      button {
        height: 50px;
        margin-left: 10px;
        border: none;
        color: #fff;
        outline: none;
        border-radius: 5px;
        background-color: #111;
        padding: 10px;
      }
      #userID,
      #userPW,
      #userName,
      #userEmail {
        flex-grow: 1;
      }
      #userJob {
        width: 200px;
      }
    }
  }
  .btns {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    button {
      height: 50px;
      padding: 0 20px;
      background-color: #111;
      color: #fff;
      margin: 0 5px;
      border-radius: 5px;
    }
  }
}

@media all and (max-width: 1200px) {
  #contents {
    width: 100%;
    padding: 100px 20px;
  }
}
